/*
  .scroll{
    position:absolute;
    z-index:1;
    pointer-events:scroll;
    background: #c7c7c7;
    border: 2px ridge white;
    overflow:auto;
    padding: 20px;
    display:none; 
    text-align:right;
    width:100%;
  }
  #scroll1{
    top:50%;
    right:65%;
    width: 360px;
    height: 200px;
  }
  

  /* width */
/*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/*::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
/*::-webkit-scrollbar-thumb {
  background: #1c1c1c; 
}

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
  background: #737373; 
}
*/ 


a:link { 
  text-decoration: underline; 
  color: #1c1c1c;
} 
a:visited { 
  text-decoration: none; 
  color: #1c1c1c;

} 
a:hover { 
  text-decoration: underline;  
  color: #6a6a6a;

} 
a:active { 
  text-decoration: none; 
  color: #1c1c1c;

}