:root {
  --welcome-tables-921625framerappnero-nero: rgba(255, 255, 255, 1);
  --welcome-tables-921625framerappnero: rgba(255, 255, 255, 1);
  --welcome-tables-921625framerappwhite-rock: rgba(239, 237, 225, 1);
  --welcome-tables-921625framerappblack: rgba(0, 0, 0, 1);
  --welcome-tables-921625framerappmine-shaft: rgba(34, 34, 34, 1);
  --welcome-tables-921625framerappthunder: rgba(35, 31, 32, 1);
  --welcome-tables-921625-framer-app-times-new-roman-bold-16-font-family: "Times New Roman", Helvetica;
  --welcome-tables-921625-framer-app-times-new-roman-bold-16-font-weight: 700;
  --welcome-tables-921625-framer-app-times-new-roman-bold-16-font-size: 16px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-16-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-16-line-height: 19.200000762939453px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-16-font-style: normal;
  --welcome-tables-921625-framer-app-times-new-roman-regular-16-font-family: "Times New Roman", Helvetica;
  --welcome-tables-921625-framer-app-times-new-roman-regular-16-font-weight: 400;
  --welcome-tables-921625-framer-app-times-new-roman-regular-16-font-size: 16px;
  --welcome-tables-921625-framer-app-times-new-roman-regular-16-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-times-new-roman-regular-16-line-height: 19.200000762939453px;
  --welcome-tables-921625-framer-app-times-new-roman-regular-16-font-style: normal;
  --welcome-tables-921625-framer-app-times-new-roman-regular-15-88-font-family: "Times New Roman", Helvetica;
  --welcome-tables-921625-framer-app-times-new-roman-regular-15-88-font-weight: 400;
  --welcome-tables-921625-framer-app-times-new-roman-regular-15-88-font-size: 15.875px;
  --welcome-tables-921625-framer-app-times-new-roman-regular-15-88-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-times-new-roman-regular-15-88-line-height: 19.200000762939453px;
  --welcome-tables-921625-framer-app-times-new-roman-regular-15-88-font-style: normal;
  --welcome-tables-921625-framer-app-times-new-roman-bold-15-88-font-family: "Times New Roman", Helvetica;
  --welcome-tables-921625-framer-app-times-new-roman-bold-15-88-font-weight: 700;
  --welcome-tables-921625-framer-app-times-new-roman-bold-15-88-font-size: 15.875px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-15-88-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-15-88-line-height: 19.200000762939453px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-15-88-font-style: normal;
  --welcome-tables-921625-framer-app-times-new-roman-regular-16-underline-font-family: "Times New Roman", Helvetica;
  --welcome-tables-921625-framer-app-times-new-roman-regular-16-underline-font-weight: 400;
  --welcome-tables-921625-framer-app-times-new-roman-regular-16-underline-font-size: 16px;
  --welcome-tables-921625-framer-app-times-new-roman-regular-16-underline-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-times-new-roman-regular-16-underline-line-height: 19.200000762939453px;
  --welcome-tables-921625-framer-app-times-new-roman-regular-16-underline-font-style: normal;
  --welcome-tables-921625-framer-app-times-new-roman-regular-15-88-underline-font-family: "Times New Roman", Helvetica;
  --welcome-tables-921625-framer-app-times-new-roman-regular-15-88-underline-font-weight: 400;
  --welcome-tables-921625-framer-app-times-new-roman-regular-15-88-underline-font-size: 15.875px;
  --welcome-tables-921625-framer-app-times-new-roman-regular-15-88-underline-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-times-new-roman-regular-15-88-underline-line-height: 19.200000762939453px;
  --welcome-tables-921625-framer-app-times-new-roman-regular-15-88-underline-font-style: normal;
  --welcome-tables-921625-framer-app-times-new-roman-bold-23-81-font-family: "Times New Roman", Helvetica;
  --welcome-tables-921625-framer-app-times-new-roman-bold-23-81-font-weight: 700;
  --welcome-tables-921625-framer-app-times-new-roman-bold-23-81-font-size: 23.8125px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-23-81-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-23-81-line-height: 28.799999237060547px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-23-81-font-style: normal;
  --welcome-tables-921625-framer-app-times-new-roman-bold-50-font-family: "Times New Roman", Helvetica;
  --welcome-tables-921625-framer-app-times-new-roman-bold-50-font-weight: 700;
  --welcome-tables-921625-framer-app-times-new-roman-bold-50-font-size: 50px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-50-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-50-line-height: 60px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-50-font-style: normal;
  --welcome-tables-921625-framer-app-times-new-roman-bold-64-font-family: "Times New Roman", Helvetica;
  --welcome-tables-921625-framer-app-times-new-roman-bold-64-font-weight: 700;
  --welcome-tables-921625-framer-app-times-new-roman-bold-64-font-size: 64px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-64-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-64-line-height: 76.80000305175781px;
  --welcome-tables-921625-framer-app-times-new-roman-bold-64-font-style: normal;
  --welcome-tables-921625-framer-app-arial-bold-11-font-family: "Arial", Helvetica;
  --welcome-tables-921625-framer-app-arial-bold-11-font-weight: 700;
  --welcome-tables-921625-framer-app-arial-bold-11-font-size: 11px;
  --welcome-tables-921625-framer-app-arial-bold-11-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-arial-bold-11-line-height: 13.199999809265137px;
  --welcome-tables-921625-framer-app-arial-bold-11-font-style: normal;
  --welcome-tables-921625-framer-app-arial-narrow-11-font-family: "Arial", Helvetica;
  --welcome-tables-921625-framer-app-arial-narrow-11-font-weight: 400;
  --welcome-tables-921625-framer-app-arial-narrow-11-font-size: 11px;
  --welcome-tables-921625-framer-app-arial-narrow-11-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-arial-narrow-11-line-height: 13.199999809265137px;
  --welcome-tables-921625-framer-app-arial-narrow-11-font-style: normal;
  --welcome-tables-921625-framer-app-arial-narrow-11-underline-font-family: "Arial", Helvetica;
  --welcome-tables-921625-framer-app-arial-narrow-11-underline-font-weight: 400;
  --welcome-tables-921625-framer-app-arial-narrow-11-underline-font-size: 11px;
  --welcome-tables-921625-framer-app-arial-narrow-11-underline-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-arial-narrow-11-underline-line-height: 13.199999809265137px;
  --welcome-tables-921625-framer-app-arial-narrow-11-underline-font-style: normal;
  --welcome-tables-921625-framer-app-arial-black-18-font-family: "Arial", Helvetica;
  --welcome-tables-921625-framer-app-arial-black-18-font-weight: 900;
  --welcome-tables-921625-framer-app-arial-black-18-font-size: 18px;
  --welcome-tables-921625-framer-app-arial-black-18-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-arial-black-18-line-height: 21.600000381469727px;
  --welcome-tables-921625-framer-app-arial-black-18-font-style: normal;
  --welcome-tables-921625-framer-app-arial-black-67-font-family: "Arial", Helvetica;
  --welcome-tables-921625-framer-app-arial-black-67-font-weight: 900;
  --welcome-tables-921625-framer-app-arial-black-67-font-size: 67px;
  --welcome-tables-921625-framer-app-arial-black-67-letter-spacing: 0px;
  --welcome-tables-921625-framer-app-arial-black-67-line-height: 80.4000015258789px;
  --welcome-tables-921625-framer-app-arial-black-67-font-style: normal;
}
